/Library/
/Temp/
/obj/

/Assets/UnityVs
/Assets/UnityVs.meta

*DotSettings

*.suo
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.svd
info.xml
OpenCvSharpExtern.dll
cv210.dll
cvaux210.dll
cxcore210.dll
highgui210.dll
ml210.dll